@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@import './style/code-colors.css';
@import './style/prose.css';
@import './style/shiki.css';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-base-100: white;
	--color-base-200: #f8f9fa;
	--color-base-300: #f1f3f5;
	--color-base-content: #212529;
	--color-base-fade: #868e96;
	--color-border: #ced4da;
	--color-ring: #339af0;

	--color-danger-content: var(--color-red-950);
	--color-danger-border: var(--color-red-400);
	--color-danger-surface: var(--color-red-100);

	--color-note-content: var(--color-indigo-950);
	--color-note-border: var(--color-indigo-400);
	--color-note-surface: var(--color-indigo-100);

	--radius-base: 2px;

	--font-pixel: 'Pixelify Sans Variable', system-ui;
	/* --border: 1px; */
}

.dark {
	color-scheme: dark;
	--color-base-100: color(display-p3 0.067 0.067 0.067);
	--color-base-200: color(display-p3 0.098 0.098 0.098);
	--color-base-300: color(display-p3 0.135 0.135 0.135);
	--color-base-content: #f1f3f5;
	--color-base-fade: #dee2e6;
	--color-border: #495057;
	--color-ring: #339af0;

	--color-danger-content: var(--color-base-content);
	--color-danger-border: var(--color-red-400);
	--color-danger-surface: var(--color-red-900);

	--color-note-content: var(--color-indigo-content);
	--color-note-border: var(--color-indigo-400);
	--color-note-surface: var(--color-indigo-900);
}

@utility pixelated {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}

html:not(.dark) {
	--cm-foreground: #393a34;
	--cm-background: #f8f8f8;

	--cm-comment: #758575;
	--cm-namespace: #444444;
	--cm-string: #bc8671;
	--cm-punctuation: #80817d;
	--cm-literal: #36acaa;
	--cm-keyword: #248459;
	--cm-function: #849145;
	--cm-deleted: #9a050f;
	--cm-class: #2b91af;
	--cm-builtin: #800000;
	--cm-property: #ce9178;
	--cm-regex: #ad502b;
}

html.dark {
	--cm-foreground: #d4d4d4;
	--cm-background: #1e1e1e;

	--cm-namespace: #aaaaaa;
	--cm-comment: #758575;
	--cm-namespace: #444444;
	--cm-string: #ce9178;
	--cm-punctuation: #d4d4d4;
	--cm-literal: #36acaa;
	--cm-keyword: #38a776;
	--cm-function: #dcdcaa;
	--cm-deleted: #9a050f;
	--cm-class: #4ec9b0;
	--cm-builtin: #d16969;
	--cm-property: #ce9178;
	--cm-regex: #ad502b;
}
