@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

.dark {
	color-scheme: dark;
}

.pixelated {
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}
